@model IEnumerable<DoctorProject.TB_DOCTOR>

@{
    ViewBag.Title = "Catalog Doctor";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="example1" class="table table-bordered table-striped">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.DOCTORNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BORNDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCATIONDOCTOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@(Url.Action("Edit", new { id = item.ID_DOCTOR }))">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="@(Url.Action("Delete", new { id = item.ID_DOCTOR }))">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOCTORNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BORNDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOCATIONDOCTOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
        </tr>
    }

</table>

@section scripts {

    <script type="text/javascript">
    $(document).ready(function () {
        //bsCustomFileInput.init();

        $('#example1').DataTable();;

    });



    </script>

}