@model IEnumerable<DoctorProject.TB_SPECIALITY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table  id="example1" class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCR_SPECIALITY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <a href="@(Url.Action("Edit", new { id = item.ID_SPECIALITY }))">
            <i class="fas fa-edit"></i>
        </a>
        <a href="@(Url.Action("Delete", new { id = item.ID_SPECIALITY }))">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DESCR_SPECIALITY)
    </td>
</tr>
}

</table>
