@model DoctorProject.TB_PARAMETERS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_PARAMETERS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCR_PARAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCR_PARAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAL1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAL1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAL2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAL2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAL3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAL3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PARAM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
